.home{
    width: 50%;
    margin: auto;
}

@media(max-width: 1024px){
    .header-container{
        width: 90%;
    }
 
}
@media(max-width: 512px){
    .header-container{
        width: 100%;
    }
  
}